/** Outer Container **/
/* Outer most container within which controller rendering takes place (ie it is React's root rendered node) */

.outer-container {
	width: 100%;
	height: 100%;
}

/* The render delegation system is contained in the outer-container */
/* allows us to 'zoom' the z-index of an object which we render in a lower level component out to the root of the react z-index scope */

.outer-container .render-delegate {
	position: static !important; /* we do not want render delegate content to be positioned relative to these containers which would happen if we apply .container on this without overriding position */
}

.outer-container .render-delegate-enter {
	opacity: 0.0;	

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.outer-container .render-delegate-enter.render-delegate-enter-active {
	opacity: 1.0;
}

.outer-container .render-delegate-leave {
	opacity: 1.0;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.outer-container .render-delegate-leave.render-delegate-leave-active {
	opacity: 0.0;
}

/*************************************************************************/
/** Container Container **/
/* Contains the current page controller */

.container-container {
	transition: all 0.2s linear;
	
	/*filter: blur(0px);
	-webkit-filter: blur(0px);*/
}

.container-container-blur {
	/*filter: blur(5px);
	-webkit-filter: blur(5px);*/
}

/*************************************************************************/

/** Container **/
/* Used to contain the entirity of a single page */

.container {
	width: 100%;
	height: 100%;
	position: relative;
}